/*RESET*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

/*INICIO DE CSS*/
/* DEFINO ESTILOS POR MEDIO DE CLASES*/
.padreFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; }

.grupoParrafos, .piePagina {
  color: #09093a;
  font-family: "calibri";
  font-size: larger; }

.piePagina {
  font-size: medium; }

.grupoLabel {
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 50px;
  grid-template-areas: none;
  grid-area: auto; }

.eslogan {
  text-align: center;
  color: #3f083f; }

/*Transicion de algunos Input*/
.transInput {
  width: 100;
  height: 20px;
  transition: all 1s; }

/*Propiedad duracion Input*/
.transInput:hover {
  width: 200px;
  font-size: 25px; }

/*transicion de IMG REDES*/
.imgRedes {
  width: 30px;
  height: 30px;
  transition-duration: 1s; }

/*propiedad de duracion Imagen*/
.imgRedes:hover {
  height: 35px; }

.imgIndex {
  /*transicion de imagenes*/
  height: 200px;
  transition-duration: 2s; }

/*propiedad de duracion Imagen*/
.imgIndex:hover {
  height: 400px; }

/*transicion de imagenes*/
.imgProd {
  width: 450px;
  height: 400px;
  transition-duration: 2; }

/*propiedad de duracion Imagen*/
.imgProd:hover {
  height: 500px;
  width: 550px; }

.imgCarousel {
  width: auto;
  height: 400px;
  max-height: 500px;
  text-align: center; }

.carousel-inner {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
  text-align: center; }

/* DEFINO ESTILOS POR SELECTOR  */
table {
  color: #010f01;
  border-style: solid;
  font-style: italic;
  border: solid; }

h1 {
  color: #9b399b;
  font-style: oblique;
  font-family: "calibri";
  text-align: center; }

body {
  background-color: #5c5ce4;
  margin-left: 50px;
  margin-right: 50px;
  color: burlywood;
  font-family: "calibri"; }

h2 {
  color: #09093a;
  border: #1c1342; }

ul {
  padding-left: 20px;
  padding-right: 20px; }

footer {
  background-image: linear-gradient(#18327a, #5539f3);
  margin: 1px; }

header {
  background-color: #f694fa; }

div {
  color: #05090f; }

/* DEFINO ESTILOS POR MEDIO DE ETIQUETAS*/
#titulo {
  color: #4747e7; }

#lista {
  color: #ddff7e; }

/*MEDIA QUERY*/
@media only screen and (min-widht: 600px) {
  body {
    background-color: #d68cd6;
    height: auto;
    width: auto; }
  header {
    width: auto;
    height: auto; }
  footer {
    width: auto;
    height: auto; } }

#tituloTabla {
  color: #bbbbbb;
  background-color: #1b1b1b;
  font-size: 40px;
  font-family: "calibri";
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: 1px solid white; }
